<% s = SoftwareType.find(params[:id])  %>
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" " http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<title>免费ing</title>
<style type="text/css">
        img{border:0px;}
        body,div,p,span,td{font-size:20px;padding:0 0 0 2px;margin:0;line-height: 20px;}       
        .con{line-height:18px;color:#999;padding:3px 0 3px 2px; border-top:1px solid #e2edfb;}
		.yznew{line-height:60px; padding:3px 0 3px 2px; border-bottom:1px solid #CCFF99;}
        .yztitle{background-color:#99FFFF;color:#09c;padding:2px 0 2px 2px;font-weight:700}
        </style>
		</head>
<body>
<img src="/img/logo.gif"/><br/>
<!--<div class="con"><div class="yztitle">【今日推荐】</div>-->

<div class="con"><div class="yztitle">【<%= s.title %>】</div></div>

  <%= SoftwareType.where(:parent_id=>s.id).each do |st| %>
		<% st.softwares.each do |so| %>
			<img src="/img/ndesk/logo.jpg" height="20" width="20"/>&nbsp;
			<a href="/content/ndesk.html"><%= so.title %></a><br/>
		<% end %>
	<% end %>
		
</body>
</html>
