<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" " http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<% s = Software.find(params[:id])  %>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<title><%= s.title %></title>
<style type="text/css">
       
        body{font-size:14px;padding:5px 1px 1px 3px;margin:0;line-height: 20px;}       
        </style>
</head>
<body>
<a href="http://wap.b-online.me/index.html">返回首页</a><br/>
<img src="http://wap.b-online.me/img/maws/mobileann_ICON.png"  height="50" width="50"/>&nbsp;<%= s.title %><br />
类型：应用软件 系统<br />
语言：简体中文<br />
机型：Symbian v3,v5,android,WindowsMobile<br />
按平台下载：<br />
<table>
	<tr><td align="right">QQ定制版本：</td><td><a href="http://wap.b-online.me/application/MobileAnnforQQ_3.21.0518-.apk">免费下载</a></td></tr>
	<tr><td align="right">android版本：</td><td><a href="http://wap.b-online.me/application/MobileAnn_3.20.0604.apk">免费下载</a></td></tr>
	<tr><td align="right">WM版本：</td><td><a href="http://wap.b-online.me/application/MobileAnn SMSFilter_6_5.cab">免费下载</a></td></tr>
	<tr><td align="right">塞班S60v3,v5版本：</td><td><a href="http://wap.b-online.me/application/MA-SafeGuard-Symbian-5th.sis">免费下载</a></td></tr>
</table>

简介：
<%= s.description %>
<br/>
<img src="http://wap.b-online.me/img/maws/home.png" /><br />
<img src="http://wap.b-online.me/img/maws/scanresult.png" />
</body>
</html>
